* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
}

.mostrar {
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.5s;
}

.rotate {
  transition-duration: 0.5s;
  transform: rotate(90deg);
}

header {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #002245;
  padding-left: 3rem;
  color: #FFFFFF;
  position: fixed;
}
header #menu {
  display: none;
}
header .logo {
  display: flex;
  justify-content: start;
}
header .logo a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 900;
  transition: color 2s ease;
}
header .logo a:hover {
  color: #3056B7;
}
header .nav {
  margin-top: -8rem;
}
header .nav .nav-link {
  width: 20rem;
}
header .nav .nav-link li {
  list-style: none;
  padding-block: 1.6rem;
  position: relative;
  cursor: pointer;
}
header .nav .nav-link li a {
  font-size: 2rem;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: capitalize;
  transition: color 2s ease;
}
header .nav .nav-link li a::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #3056B7;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  transition: border 1s ease-in-out, color 1ms ease-in;
}
header .nav .nav-link li a:hover::after {
  opacity: 1;
}
header .nav .nav-link li a:hover {
  color: #3056B7;
}
header .nav .contenedor-close {
  display: none;
}
header .header-socila-media {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

main {
  display: none;
}

@media screen and (max-width: 767px) {
  header {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #002245;
    padding-left: 3rem;
    color: #FFFFFF;
    position: fixed;
  }
  header #menu {
    display: block;
  }
  header .logo {
    display: flex;
    justify-content: start;
  }
  header .logo a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 900;
    transition: color 2s ease;
  }
  header .logo a:hover {
    color: #3056B7;
  }
  header .nav {
    margin-top: -8rem;
  }
  header .nav .nav-link {
    width: 20rem;
  }
  header .nav .nav-link li {
    list-style: none;
    padding-block: 1.6rem;
    position: relative;
    cursor: pointer;
  }
  header .nav .nav-link li a {
    font-size: 2rem;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: capitalize;
    transition: color 2s ease;
  }
  header .nav .nav-link li a::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #3056B7;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    transition: border 1s ease-in-out, color 1ms ease-in;
  }
  header .nav .nav-link li a:hover::after {
    opacity: 1;
  }
  header .nav .nav-link li a:hover {
    color: #3056B7;
  }
  header .nav .contenedor-close {
    display: none;
  }
  header .header-socila-media {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
}/*# sourceMappingURL=style.css.map */