* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.icon-color {
  fill: #fa5b0f !important;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 34px;
  font-weight: 800;
}

h3 {
  font-size: 32px;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  scroll-margin-top: 100px;
}

.title-section {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  margin: 10rem 1.6rem 1.6rem 1.6rem;
}
.title-section span {
  display: inline-block;
  font-size: 1.6rem;
  color: #fa5b0f;
  font-weight: 500;
  margin-bottom: 4px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
}

header .header__container {
  width: 100%;
  height: 64px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  position: fixed;
  bottom: 0;
  z-index: 1;
}
header .header__container nav {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
header .header__container nav .nav__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: display 5s ease;
  position: relative;
}
header .header__container nav .nav__container .nav__item {
  padding: 1rem 3rem;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
header .header__container nav .nav__container .nav__item a {
  color: #333;
}
header .header__container nav .nav__container .nav__item:hover {
  background-color: #fa5b0f;
}
header .header__container nav #icon-close {
  position: absolute;
  bottom: 15px;
  right: 8px;
}
header .header__container .active-menu {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

#home {
  width: 100%;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2014/08/15/11/29/beach-418742_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
#home::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#home .home__img {
  width: 150px;
  height: 150px;
  margin-top: 10vh;
  position: relative;
}
#home .home__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 50%;
  border: 8px solid rgba(24, 62, 78, 0.563);
}
#home .home__name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  margin-top: 2rem;
}
#home .home__name h3 {
  color: white;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
}
#home .home__name h3 .home__name--color {
  color: #fa5b0f;
}
#home .home__name .home__name__profession {
  color: white;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
#home .home__button {
  height: auto;
}
#home .home__button a {
  font-size: 3.5rem;
  writing-mode: vertical-lr;
  letter-spacing: -10px;
  color: white;
  position: relative;
  margin-top: 20vh;
  animation: latidos 1s infinite;
  padding-block: 1rem;
}
@keyframes latidos {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: none;
  }
}

#services {
  background-color: #F9F9F9;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 0 auto;
}
#services .services__container {
  min-width: 100%;
  max-width: 900px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 1.6rem;
  gap: 3rem;
  margin: 0 auto;
}
#services .services__container .services__item {
  width: 350px;
  height: 350px;
  background-color: white;
  padding: 3rem 1.6rem 1.6rem 1.6rem;
}
#services .services__container .services__item svg {
  width: 30px;
  height: 30px;
  margin-left: 1rem;
}
#services .services__container .services__item h3 {
  margin-top: 3.2rem;
  font-size: 18px;
}
#services .services__container .services__item p {
  margin: 3.2rem auto;
  font-size: 16px;
  line-height: 2;
  text-align: justify;
}
#services .services__container .services__contact {
  padding: 0 0 5rem 1.6rem;
  margin-top: 3.2rem;
  margin-bottom: 10rem;
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
}
#services .services__container .services__contact a {
  color: black;
  font-weight: bold;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.576);
  padding-bottom: 2px;
}

#about .about__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-inline: 1.6rem;
}
#about .about__info h3 {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
#about .about__info .about__info__description {
  line-height: 3.2rem;
  padding-block: 3.2rem;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: justify;
}
#about .about__info .about__info__description span {
  color: #fa5b0f;
}
#about .about__personal__info {
  padding: 1.6rem;
}
#about .about__personal__info ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-block: 1.4rem;
  line-height: 1.6rem;
  gap: 1rem;
  font-size: 1.3rem;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}
#about .btn {
  margin-left: 1.6rem;
  padding: 2rem 4rem;
  border: none;
  background-color: #fa5b0f;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10rem;
}
#about .btn a {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

#portfolio {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 0 auto;
}
#portfolio .portfolio__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
#portfolio .portfolio__container .portfolio__item {
  width: 350px;
  height: 350px;
  padding: 16px;
}

#contact .contact__text {
  margin-top: 5rem;
  line-height: 2;
}
#contact .contact__form {
  margin-top: 3.2rem;
}
#contact .contact__form input {
  width: 100%;
  height: 42px;
  padding: 1rem;
  font-size: 1.3rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
#contact .contact__form textarea {
  width: 100%;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}
#contact .contact__form .contact__btn {
  width: 213px;
  height: 70px;
  margin-top: 2rem;
  padding: 2rem 4rem;
  border: none;
  background-color: #fa5b0f;
  font-family: "Poppins", sans-serif;
}
#contact .contact__location {
  min-width: 320px;
  height: 500px;
  margin-top: 4.8rem;
  padding: 1.6rem;
}
#contact .contact__location iframe {
  width: 100%;
  height: 100%;
  position: center center;
}

#footer {
  width: 100%;
  height: 25rem;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer p {
  color: white;
  text-align: left;
  font-family: "Poppins", sans-serif;
  word-wrap: break-word;
  padding: 1rem;
}

.hidden {
  opacity: 1 !important;
  pointer-events: all !important;
}

.rotate {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}/*# sourceMappingURL=style.css.map */