@charset "UTF-8";
ß header {
  width: 100%;
  height: 60px;
  background-color: #33616b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  line-height: 60px;
  position: relative;
}
ß header .logo a {
  text-decoration: none;
  font-size: 3rem;
  color: #ffffff;
  font-weight: bold;
}
ß header .logo :hover {
  transition-duration: 0.5s;
  color: #2c6969;
  font-size: 3.2rem;
}
ß header #menu {
  color: #e7e2c6;
  font-size: 30px;
  transition-duration: 0.3s;
}
ß header .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}
ß header .info .container-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e7e2c6;
  border: none;
}
ß header .info .container-picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-position: center;
     object-position: center;
}
ß header .info .info-user {
  text-align: center;
  line-height: 2rem;
  font-size: 2rem;
  padding-top: 2rem;
  color: #ffffff;
}
ß header .info .info-user span {
  font-size: 1.5rem;
  color: #e7e2c6;
}
ß header .nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  transition-duration: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  background-color: #2c6969;
}
ß header .nav .nav-link {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 35%;
  list-style: none;
  cursor: pointer;
}
ß header .nav .nav-link li:hover {
  transition-duration: 0.5s;
  background-color: #e7e2c6;
}
ß header .nav .nav-link li > a:hover {
  color: red;
}
ß header .nav .nav-link li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;
  color: #ffffff;
  font-weight: 500;
}
ß header .nav .contenedor-close {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
}
ß header .nav .contenedor-close #close-icon {
  font-size: 50px;
  font-weight: 500;
  color: lightgoldenrodyellow;
}

@media screen and (min-width: 600px) {
  header {
    width: 10%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 60px;
    position: sticky;
  }
  header .logo {
    display: none;
  }
  header #menu {
    display: none;
  }
  header .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: start;
  }
  header .info .container-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
  }
  header .info .container-picture img {
    margin-left: 3rem;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -o-object-position: center;
       object-position: center;
  }
  header .info .info-user {
    text-align: justify;
    line-height: 2rem;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-inline: 20px;
    color: #ffffff;
  }
  header .info .info-user span {
    font-size: 1.5rem;
  }
  header .nav {
    opacity: 1;
    display: flex;
    justify-content: flex-start;
    width: 300px;
    height: 100vh;
    pointer-events: painted;
    border-radius: 0;
  }
  header .nav .nav-link {
    display: flex;
  }
  header .nav .nav-link a {
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
  }
  header .nav .contenedor-close {
    display: none;
  }
}
.mostrar {
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.5s;
}

.rotate {
  transition-duration: 0.5s;
  transform: rotate(90deg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
}/*# sourceMappingURL=style.css.map */