@use "../var/colors" as c;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

.icon-color{
  fill :map-get(c.$colors, colorResalt ) !important;
   
}

body{
  width: 100%;
  min-height: 100vh;
  position: relative;

  
}

h1{
  font-size: 36px ;
}
h2{
  font-size: 34px;
}

h3{
  font-size: 32px;
}

h1 h2 h3{
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.title-section{
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  margin: 3rem 1rem 0 1rem;
  span{
    display: inline-block;
    font-size: 1rem;
    color:map-get(c.$colors, colorResalt );
    font-weight: 500;
    margin-bottom: 4px;
    text-transform: uppercase;
    
  }
  h2{
    font-weight: 800;
  }
}