@use "../var/colors.scss" as c;
@media screen and (min-width: 900px) {
  main {
    #inicio {
      margin: 0;
      justify-content: center;
      align-items: center;

      .container-inicio {
        
        
        h1 {
          color: c.$text-primary;
          font-family: "Muslish";
          font-weight: bold;
          font-size: 6rem;
          

          span {
            color: c.$quintary;
          }
        }
        h2 {
          text-align: center;
          font-size: 3rem;
          font-weight: 400;
          color: c.$text-primary;
          text-transform: capitalize;
        }
        .profesion {
          color: c.$quintary;
          font-style: normal;
          font-weight: 700;
        }
      }
    }
  }
}
