@use "../var/colors.scss" as c;

main {
  margin: 0;
  padding: 0;
  .slide {
    width: 100%;
    height: 100vh;
    background-color: pink;
  }

  #inicio {
    width: 100%;
    display: flex;
    justify-content: center;   
    align-items: center;
    position: relative;
    background-color: #000;
    
    &::before{
      content: "";
      position: absolute;
      background-image: url(../../asset/img/paisaje.jpg);
      inset: 0;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: .3; 
      
      

    }
    

    .container-inicio{
      width: 100%;
      display: flex;
      isolation: isolate;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        object-position: right top;

       
      
      }
      h1{
        color: c.$text-primary;
        font-size: 3rem;
        text-align: center;
        padding: 1rem;
        
        span{
          color: c.$secondary;
        }      
  
      }
      h2{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        color: c.$text-primary;
        text-transform: capitalize;

      }
      .profesion{
        color: c.$quintary;
       font-style: normal;
      }
    }
    
  }
}
